<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/amdcpu/0/load/1/plot" value="false" />
    <add key="/amdcpu/0/load/2/plot" value="false" />
    <add key="/amdcpu/0/load/3/plot" value="false" />
    <add key="/amdcpu/0/load/4/plot" value="false" />
    <add key="/amdcpu/0/load/5/plot" value="false" />
    <add key="/amdcpu/0/load/6/plot" value="false" />
    <add key="/amdcpu/0/load/7/plot" value="false" />
    <add key="/amdcpu/0/load/8/plot" value="false" />
    <add key="/amdcpu/0/load/0/plot" value="false" />
    <add key="/amdcpu/0/power/0/plot" value="false" />
    <add key="/amdcpu/0/clock/0/plot" value="false" />
    <add key="/amdcpu/0/power/2/plot" value="false" />
    <add key="/amdcpu/0/power/3/plot" value="false" />
    <add key="/amdcpu/0/power/4/plot" value="false" />
    <add key="/amdcpu/0/power/5/plot" value="false" />
    <add key="/amdcpu/0/power/6/plot" value="false" />
    <add key="/amdcpu/0/power/7/plot" value="false" />
    <add key="/amdcpu/0/power/8/plot" value="false" />
    <add key="/amdcpu/0/power/9/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/atigpu/0/clock/0/plot" value="false" />
    <add key="/atigpu/0/clock/1/plot" value="false" />
    <add key="/atigpu/0/voltage/0/plot" value="false" />
    <add key="/atigpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/nvidiagpu/0/power/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/0/plot" value="false" />
    <add key="/nvidiagpu/0/throughput/1/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="-8" />
    <add key="mainForm.Location.Y" value="-8" />
    <add key="mainForm.Width" value="1936" />
    <add key="mainForm.Height" value="1048" />
    <add key="/amdcpu/0/temperature/0/plot" value="false" />
    <add key="/amdcpu/0/clock/1/plot" value="false" />
    <add key="/amdcpu/0/clock/2/plot" value="false" />
    <add key="/amdcpu/0/clock/3/plot" value="false" />
    <add key="/amdcpu/0/clock/4/plot" value="false" />
    <add key="/amdcpu/0/clock/5/plot" value="false" />
    <add key="/amdcpu/0/clock/6/plot" value="false" />
    <add key="/amdcpu/0/clock/7/plot" value="false" />
    <add key="/amdcpu/0/clock/8/plot" value="false" />
    <add key="/amdcpu/0/power/1/plot" value="false" />
    <add key="plotMenuItem" value="false" />
    <add key="plotForm.Location.X" value="660" />
    <add key="plotForm.Location.Y" value="316" />
    <add key="plotForm.Width" value="600" />
    <add key="plotForm.Height" value="400" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAMs01b3adPu2BwODjZPoswQmBjCwcApMP8oCY8ddSYKKmzn9bUqEsk2cBD2T4OzTjDC2uVPEimS4OV9dEuHiCcYIcwC9iFH+eAAAAA==" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAPvZrHu16fZtDwaGac4KX334GMBgmvPtS4lMYKaBv0vkpWQwm/FDkItJJlQcqMaPJwnOBgCIIbu/SAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAPvZrHu16fZtD8aGU84KX334GIAAxL59KZEJxP4o3uIaeSkZzjbJhIiD1PjxJMHZAAwOELRIAAAA" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAPvZrHu16fZtDwYguMZ/TZwBCgCblQAUGAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHgxAUH/Oh48BCm5fSmSCsBzsIy8lw9kmmTBxBoY44yQou8EOAL42+PBIAAAA" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHgxA4CpwTZwBCgD3/XQrGAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHgxA4CpwTZwBCgD3/XQrGAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHgxA4CpwTZwBCgD3/XQrGAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHq52Rx2m8CYyMQDBB7+jDgfvv+aGsZ1uQ8TPvDrqcPZ8MpjtWnDUISo7Ec6ebpwE0dtw1AEAHtUd9VQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHhFaW1yn8CYyMQBBhOYW14P3X3PD2E63IeL/5Le4nj2fDFGjvsU1KjsRzp5unARhq21xBQA8XVGdVAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHg1Re52n8CYyMQBBQ9Ze54P3X3PD2E63IeIKDPucz55Phqjp2usclZ0IZ083ToKwZ+11BgBZDSSHVAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJu1Svdq0+3bHgwMB1xDza+JM4DBAVcApdLvJxgAAAA=" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/power/0/values" value="H4sIAAAAAAAEAJt8Sfdq0+3bHts/t9pf5klkYgCC/fPb7J+HJIPZws0d9inCSWD23pJ2e+XZELbEzS57id0Q9duAercoQMTT0rrsdzJB2Dvn+TrGroCYY2Ls53gkOxFqZo99KQ9EjfjNPnsAT094/YQAAAA=" />
    <add key="/nvidiagpu/0/throughput/0/values" value="H4sIAAAAAAAEANNJdrnadPu2BwMQLLb342OAgvmnfZkgrF/2d+4nM8HEn4ccZoGxAe6gyNw8AAAA" />
    <add key="/nvidiagpu/0/throughput/1/values" value="H4sIAAAAAAAEANszp/hq0+3bHgwMv+wbzYyZGKCAp2sdJ4wtzVoIFf9lv+mNHIxtdzsoF67+HutLFhgbADQvXbBUAAAA" />
    <add key="/atigpu/0/temperature/0/values" value="" />
    <add key="/atigpu/0/temperature/1/values" value="" />
    <add key="/atigpu/0/temperature/2/values" value="" />
    <add key="/atigpu/0/temperature/3/values" value="" />
    <add key="/atigpu/0/temperature/4/values" value="" />
    <add key="/atigpu/0/temperature/5/values" value="" />
    <add key="/atigpu/0/temperature/6/values" value="" />
    <add key="/atigpu/0/temperature/7/values" value="" />
    <add key="/atigpu/0/temperature/8/values" value="" />
    <add key="/atigpu/0/temperature/9/values" value="" />
    <add key="/atigpu/0/power/0/values" value="" />
    <add key="/atigpu/0/power/1/values" value="" />
    <add key="/atigpu/0/power/2/values" value="" />
    <add key="/atigpu/0/power/3/values" value="" />
    <add key="/atigpu/0/power/4/values" value="" />
    <add key="/atigpu/0/fan/0/values" value="" />
    <add key="/atigpu/0/clock/0/values" value="H4sIAAAAAAAEAAvg073adPu2B4OAiosebyITAwg8MHKp1k2GsBlOOO/6IygMYwMAwuBjSjAAAAA=" />
    <add key="/atigpu/0/clock/1/values" value="H4sIAAAAAAAEAMs01b3adPu2BwPDCRcvgWviDGBwwgUARQ/1aRgAAAA=" />
    <add key="/atigpu/0/clock/2/values" value="" />
    <add key="/atigpu/0/voltage/0/values" value="H4sIAAAAAAAEAMs01b3adPu2hzrjKvdLb334GIAAxGa5ncgEYsvK7XEvvTWVGSa+52c0K4wNAKjNW5w8AAAA" />
    <add key="/atigpu/0/voltage/1/values" value="" />
    <add key="/atigpu/0/voltage/2/values" value="" />
    <add key="/atigpu/0/load/0/values" value="H4sIAAAAAAAEAMs01b3adPu2BwPDCQfRZwlMDGCg4OAekgxlMzDU7D/CAmO/XJUIFXewF/RMgrIX2LPchok32Mufh+kNcPjqAhN/YJ9gnATXCwBVqos0eAAAAA==" />
    <add key="/atigpu/0/load/1/values" value="" />
    <add key="/atigpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEALNIP3K16fZtj3frFJ32MaUwMQABe5Cik0JNAph9xFfRyakOIs7DoujkyZkMZuf9VHBKbE4Es+0aFZ1mO0LU7ytTdEqbClHTW6zoxCOYBGYv1lF0kl0LYRcKKzolckHY2wUUnQC6xgyehAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEALNIP3K16fZtD5Wi4w77mFKYGICg6/8xB4WaBDDb49cxB6c6iHjU/GMOnpzJYLbDpGMOic2JYPYJy+MOsx0h6q/oHHdImwpR80TjuAOPYBKYnXXxmIPsWgg7bBNQLxeE/WPdMQcALQcp5YQAAAA=" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEALNIP3K16fZtD6W/Qo77mFKYGIAg30zYUaEmAcwWsBR2dKqDiLenCTt6ciaD2SK5wo6JzYlgdoCksONsR4j6U/LCjmlTIWoOKQo78ggmgdn1vsKOsmshbM5YoF4uCHtHnLAjAFwwaLqEAAAA" />
    <add key="/amdcpu/0/load/0/values" value="H4sIAAAAAAAEADN3OHK16fZtj+98PvbezClMDECwSFDc/klNApjNwPDLjq0OIh6x5YqdE2cyhD1Bw35/YyKY/UIyz94gE6I+RdLDPm0qRI2I/gr7whcQNQwOzfZu65OgZp6w4+OGshve2gEA8jZXhYQAAAA=" />
    <add key="/amdcpu/0/load/1/values" value="H4sIAAAAAAAEADN3OHK16fZtj5sOWQ7ezClMDEDg4fbX/klNApjNwKDvwFYHEWdo4HRw4kwGs6ffWGu/vzERzNbxznMwyISpr7JPmwpRMyks16HwBUQNg0Ozg9v6JKiaX/Z83FB2g5IDANolt4qEAAAA" />
    <add key="/amdcpu/0/load/2/values" value="H4sIAAAAAAAEADN3OHK16fZtDwYg8GZOYWIAAzH7JzUJULaHHVsdTPyEnRNnMlx8f2MilD3N3iAToT5tKkzNL/vCFzA1VfZu65Pg5vNxI9gARqj68oQAAAA=" />
    <add key="/amdcpu/0/load/3/values" value="H4sIAAAAAAAEADN3OHK16fZtDwYgSPvky8cABWlTk5lA9NceDofCF4lMEFExe7f1SUwwNXzcCDYAzoq4DUgAAAA=" />
    <add key="/amdcpu/0/load/4/values" value="H4sIAAAAAAAEADN3OHK16fZtD4FJKXbezClMDFDwpCYByvawY6tDiDtxJkPZJ+z2NybCxQ0yIeodpp20S5sKU1NlX/gCpkbM3m19EtxMPu4kuF4AF1TWvYQAAAA=" />
    <add key="/amdcpu/0/load/5/values" value="H4sIAAAAAAAEADN3OHK16fZtDwYg8GZOYQLRT85V2z+pSQCzQYCtLgXOduJMhrLX2+9vTISyPex8p3Vwwth83Elw9QBIfLkVYAAAAA==" />
    <add key="/amdcpu/0/load/6/values" value="H4sIAAAAAAAEADN3OHK16fZtj1ORP+28mVOYGKDg1a8jLDC2E2cyVNzDfn9jIlyNQWYCTNwubSpEjdXGNfaFLxLh4m7rk+Dq+bgRbAClu9sYeAAAAA==" />
    <add key="/amdcpu/0/load/7/values" value="H4sIAAAAAAAEADN3OHK16fZtDwYg8GZOYWIAAw+7JzUJUDYDA1tdCpztxJkMZje8cbHb35gIZkdOe2RvkAlT/9A+bWoyXH3hi0S4mW7rk+DifNwINgC0muM9hAAAAA==" />
    <add key="/amdcpu/0/load/8/values" value="H4sIAAAAAAAEADN3OHK16fZtj90ZDA7ezClMDCBgVGX/pCYBwmbwsGerg4hXXvSwd+JMBrMjp1Xb729MBLPVy0TsDTKh6huUHNKmJsP02hW+SISy19u7rU+Ci/Nxw9hi9gA0vhMghAAAAA==" />
    <add key="/amdcpu/0/temperature/0/values" value="H4sIAAAAAAAEADN3OHK16fZtD4aGOidv5hQmBhBoKHV6UpMAYT/IdGKrg4onJDmZ6idDxeOdzkQnQtnFTgaZUPUMBU5pU6FqDhQ5Fb6AqmkocXJbnwRVk+3Exw1lH0hxAgCVh3ZphAAAAA==" />
    <add key="/amdcpu/0/temperature/2/values" value="" />
    <add key="/amdcpu/0/temperature/3/values" value="" />
    <add key="/amdcpu/0/temperature/4/values" value="" />
    <add key="/amdcpu/0/temperature/5/values" value="" />
    <add key="/amdcpu/0/temperature/6/values" value="" />
    <add key="/amdcpu/0/temperature/7/values" value="" />
    <add key="/amdcpu/0/power/0/values" value="H4sIAAAAAAAEADN3OHK16fZtDw5bJkdv5hQmBiB4cXqbw5OaBDD7qPB8B7Y6iPhr9yUOpvrJYPanmO0Oic2JYHYI0yaH2Y4Q9e1iex3SpkLUtM3Rcyx8AVGjt/iVg9v6JDCbm3+LAx83hP1gy3IHALUMLqOEAAAA" />
    <add key="/amdcpu/0/power/1/values" value="H4sIAAAAAAAEALNIP3K16fZtj8TrExz2MaUwMQDBsX9KDgo1CWD2qt1P7Z3qIOIR+//Ye3Img9kqm+QdEpsTwexnbuoOsx0h6rvS9B3SpkLUHFnzzoFHMAnMPhVU6yC7FsKWipd0SOSCsO3tWRwArxrJUoQAAAA=" />
    <add key="/amdcpu/0/clock/0/values" value="" />
    <add key="/amdcpu/0/power/2/values" value="H4sIAAAAAAAEADN3OHK16fZtj6y/dvbezClMDECwrEXO/klNApjdWCtgz1YHEd/H+cTOVD8ZzJa7+MgusTkRzP7klGA/2xGiPleQxz5tKkSNGu8B+8IXEDWanO72buuTwOy9lVz2fNwQthiziD0AGzN7zoQAAAA=" />
    <add key="/amdcpu/0/clock/1/values" value="H4sIAAAAAAAEADN3OHK16fZtj628aa7ezClMDECwqM7e9UlNApi96iWbK1sdRHwLUI2pfjJcPLE5Ea5+tmMCXE3aVIiaqY0eroUvIGpA5rutTwKzN1SbufJxJ8HNAQDvUCzqhAAAAA==" />
    <add key="/amdcpu/0/power/3/values" value="H4sIAAAAAAAEADN3OHK16fZtD+fMi3bezClMDEDwRrTV7klNAphd87PCjq0OIv4h2sjOVD8ZzH50s8cusTkRzH48h8l+tiNEfZBzol3aVIiahNWl9oUvIGqmNh23c1ufBGav/dNjx8cNYW/RyrQDAP1DzoSEAAAA" />
    <add key="/amdcpu/0/clock/2/values" value="H4sIAAAAAAAEADN3OHK16fZtjx8Hnrh4M6cwMQDBFt401yc1CWB20ydFV7Y6iLjTCkFXU/1kMFtv6wGXxOZEMHtRnb3rbMcEODttajJcb+ELiJr+9xKubuuTwOwN1WaufNwQ9qqXbK4A/66sdoQAAAA=" />
    <add key="/amdcpu/0/power/4/values" value="H4sIAAAAAAAEADN3OHK16fZtj8ddV+y8mVOYGIBA6bOk3ZRFCWD24QAeu7AIiHjLFFs7U/1kMPv0s1+2ic2JYHZM5gHb2Y4Q9SJ/btmmTYWoqZO4Y1/4AqLmzl9O+x1Xk8BskzVMdnOeQMS3sR+yBQAS9VRnhAAAAA==" />
    <add key="/amdcpu/0/clock/3/values" value="H4sIAAAAAAAEADN3OHK16fZtjx8Hnrh4M6cwMQDBiZmKrlMWJYDZTZ8UXcMiIOL3jn1zMdVPBrPnvuF3TWxOBLMnvJdwne2YAGenTYWomdLo4Vr4AqJmYZ29646rSXAz5zyBiK96yeYKAFPP1I+EAAAA" />
    <add key="/amdcpu/0/power/5/values" value="H4sIAAAAAAAEALNIP3K16fZtD60vkvZed5KZGIBAVCjHbsqiBDD7zztNu7CIFDD7UnCHnak+RM3nnni7xOZEMHtR9Bfb2Y4Q9Yb/Le3SpkLU9O1JtecRTAKzHWU57WXXQth3uDLsErkg7L3eUnYAOsBAFIQAAAA=" />
    <add key="/amdcpu/0/clock/4/values" value="H4sIAAAAAAAEALNIP3K16fZtj/73Eq5ed5KZGIAgS/Sby5RFCWB20ydF17CIFDjbVB+iZu4bftfE5kQwe1GdvetsR4j6CUBz0qZC1Exp9HDlEUwCs0Hmy66FsKcCxRO5IGy9rQdcAJ/Tn6uEAAAA" />
    <add key="/amdcpu/0/power/6/values" value="H4sIAAAAAAAEALNIP3K16fZtj1OXeOy97iQzMQBB7t5MuymLEsDsu8HvbZ3qUsDsabN97Dw5IWreZX20S2xOBLOt3wvazXaEqD/0OcQubSpEjQoztz2PYBKY3fbnhZ3sWgi7e2mtXSIXhP0tNd8OAEvLfvGEAAAA" />
    <add key="/amdcpu/0/clock/5/values" value="H4sIAAAAAAAEALNIP3K16fZtj7lv+F297iQzMQDBiZmKrlMWJYDZIrsvuTjVpYDZG6rNXD05IWquTpNwTWxOBLP730u4znaEqL+l4eGaNhWiRm/rARcewSS4ObJrIewpjR6uiVwINgDRwI7AhAAAAA==" />
    <add key="/amdcpu/0/power/7/values" value="H4sIAAAAAAAEALNIP3K16fZtDy3v83Zed5KZGIBgzhJduymLEsBstckMdk51KWD2c2ttO09OiBqp3la7xOZEMPvT9xW2sx0h6ue/D7JLmwpRcy3Dy55HMAnMtqxPs5NdC2H/KBC0S+SCsBUbue0AS9oOsIQAAAA=" />
    <add key="/amdcpu/0/clock/6/values" value="H4sIAAAAAAAEALNIP3K16fZtj0V19q5ed5KZGICAO6fLdcqiBDBbZPclF6e6FDB7zht+V09OiJoW/icuic2JYDZI72xHiPoTMxVd06Ymw/XyCCbB2bJrIeymT4quiVwQ9pU1ea4Aupmy/YQAAAA=" />
    <add key="/amdcpu/0/power/8/values" value="H4sIAAAAAAAEALNIP3K16fZtjycfWOy97iQzMQDB50u/bKcsSgCz635stnWqSwGzlZ7ttfXkhKiRTT9im9icCFHT/dtutiNE/flrG+zSpkLUdFXutuMRTAKzV0i02smuhbDLWbjsErkg7Lble2wB/zeC3oQAAAA=" />
    <add key="/amdcpu/0/clock/7/values" value="H4sIAAAAAAAEALNIP3K16fZtj0V19q5ed5KZGIDgxExF1ymLEsDsDdVmrk51KWC2yO5LLp6cEDX/ttm5JjYngtlTGz1cZztC1L/ZnueaNhWiZtJ1KVcewSQwe+4bflfZtUlw9YlcEHbTJ0VXAM3e0d+EAAAA" />
    <add key="/amdcpu/0/power/9/values" value="H4sIAAAAAAAEALNIP3K16fZtD6m0RPt9TClMDEDga+5ir1CTAGbHWG21c6qDiPs7Pbbz5EwGs4VWSdsnNieC2QatM+xmO0LUh33JsU+bClGj0aVnzyOYBGab7nazl10LYV/pN7ZP5IKwZ/fw2gMAMneDyIQAAAA=" />
    <add key="/amdcpu/0/clock/8/values" value="H4sIAAAAAAAEALNIP3K16fZtj2UC+a77mFKYGIDg4053V4WaBDB77ht+V6c6iLjI7ksunpzJYPa/bXauic2JYPYKoN7ZjhD13DldrmlTIWoerUx15RFMArO38Ka5yq5NgqtP5IKwpzR6uAIA8LxDSoQAAAA=" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="250" />
    <add key="treeView.Columns.Value.Width" value="100" />
    <add key="treeView.Columns.Min.Width" value="100" />
    <add key="treeView.Columns.Max.Width" value="100" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>